# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 5

elephants = 10
leza = 11

print(number)
number = 6
print(number)

5
6

##### Assigning float

In [5]:
# float == decimal

num_float = 1.75 
print(num_float)

my_float = 30.7775
print(my_float)

1.75
30.7775

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 3
num2 = 7

print(num1 + num2)

result = num1 + num2
print(result)

10
10

In [8]:
#shorthand way 

result += num2
print(result)

17

##### Subtraction

In [11]:
num3 = 15
num4 = 2

print(num3 - num4)

result = num3 - num4
print(result)

result -= num4

print(result)

13
13
11

##### Multiplication

In [14]:
num1 = 10
num2 = 2.5

print(num1 * num2)
product = num1 * num2
product *= num2
print(product)

25.0
62.5

##### Division

In [15]:
num1 = 45
num2 = 9

print(num1 / num2)

5.0

##### Floor Division

In [ ]:
# utilizing // symbol

In [20]:
print(num1 // num2)

num3 = 10
num4 = 3

print(num3 / num4)
print(num3 // num4)

#shorthand for floor division


num3 //= num4
print(num3)

3
3.3333333333333335
3
3

##### Modulo

In [19]:
# utlizing % symbol to find the remainder after division of 2 numbers 
num1 = 10
num2 = 3 

print(num1 % num2)

1

In [21]:
#shorthand way

num1 %= num2
print(num1)

1

##### Exponential

In [22]:
square = 5**2
print(square)

25

In [23]:
square **= 2
print(square)

625

### String Input-Output

##### String Assignment

In [24]:
name = "Alex"

dog = 'Mutt'

print(name)
print(dog)

Alex
Mutt

##### print() <br>
<p>Don't forget about end=' '</p>

In [30]:
print('Hello', name, dog)

print('Full name:', name, end = ' Swiggum')

help(print)

Hello Alex Mutt
Full name: Alex SwiggumHelp on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### String Concatenation

In [35]:
first_name = 'Luke'
last_name = 'Skywalker'

full_name = first_name + " " + last_name
print(full_name)

full_name += " " + "Jedi Master"
print(full_name)

Luke Skywalker
Luke Skywalker Jedi Master

In [36]:
my_string = "I have a dog, her name is"
my_dog = "Henri"

dog_sentence = my_string + " " + my_dog
print(dog_sentence)

I have a dog, her name is Henri

##### Type Conversion

In [41]:
# int() - convert type into integer type
# float() - convert to float type
# str() - convert to string type

#not every string can be made into a float or integer but every integer or float can be made into a string
# why?!?!?

# x = 12
# print(type(x))

# x = str(x)
# print(type(x))


name = 'Alex'
print(type(name))

name = int(name)
print(type(name))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Alex'

##### input()

In [45]:
# Input will always return a string, all of the time, forever and ever and ever

# help(input)

name = input('What is your name? ')
print('Your name is, ', name)
print(type(name))

What is your name? Alex
Your name is,  Alex
<class 'str'>

In [48]:
number = int(input("Give me a number and I'll add 2 to it! "))

print(number + 2)

Give me a number and I'll add 2 to it! 10
12

In [49]:
age = float(input("How old are you? "))

print("Your age is,", age)

age += 1

print("Your are now is,", age)

How old are you? 31
Your age is, 31.0
Your are now is, 32.0

##### format()

In [50]:
age = int(input("How old are you? "))
name = input("What is your name? ")

result_string = "You are {} years old, and your name is {}.".format(age, name)
print(result_string)

How old are you? 31
What is your name? Alex
You are 31 years old, and your name is Alex.

In [51]:
#more popular way of utilizing format prints 

result_again = f"You are {age} years old, and your name is {name}"
print(result_again)

You are 31 years old, and your name is Alex

##### Old Way (python 2)

In [64]:
#'Hey %s, there is a 0x%x error!' % (name, errno)

result_again2 = "You are %s years old, and your name is %s" %(age, name)
print(result_again2)

You are 31 years old, and your name is Alex

# In-Class Exercise 1 <br>
<p>Create a formatted statement that asks for a car's color, year, make, model and prints out the results</p>

In [66]:
car_color = input("What is the color of your car?")
car_year = int(input("What is the year of your car?"))
car_make = input("What is the make of your car?")
car_model = input("What is the model of your car?")

car_info = "You have a {car_color} car. It is a {car_year}. The make of your car is a {car_make.title()}. The model is a {car_model.title()}."
print(car_info)

What is the color of your car?black
What is the year of your car?2005
What is the make of your car?chrysler
What is the model of your car?sebring
You have a {car_color} car. It is a {car_year}. The make of your car is a {car_make.title()}. The model is a {car_model.title()}.

<class 'str'>

NameError: name 'string' is not defined

### If Statements

In [71]:
# Operators Less Than <, Greater Than >, Equal to ==, Not Equal To !=
# Less Than or Equal To <=, Greater Than or Equal To >=

#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 65 #integer
num2 = 65.0 #float

if num1 == num2: #F 
    print("They're the same #!")
else: #T
    print("Nope! ")

    
num1 = .1
num2 = .2
num3 = .3

if num1 + num2 == num3:
    print("Heck yeah!")
else:
    print("No way")

They're the same #!
No way

##### 'is' keyword

In [73]:
#use the "is" keyword checking for same/similar objects (location) not same value

num2 = 55 #object stored somewhere in memoryb
print(num2)

num3 = num2 #same object stored at the same place in memory (they are pointing to the same location/object)
print(num3)

if num3 is num2:
    print("They are the same object")
else:
    print("They aren't the same!!!")

55
55
They are the same object

In [74]:
alex = 55
brendan = 61 
matthew = 71 

me = alex 

if alex is me: 
    print("Same Same!")
else:
    print("They different objects!")

They different objects!

##### 'in' keyword

In [ ]:
#Check if a character is in a string

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

## Using 'and'/'or' with If Statements

In [ ]:
#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

### Elif Statements

In [ ]:
#if conidtion 1
#elif condition 2
#elif condition 3
#elif condition 4
#else (all other conditions)

### Else Statements

In [ ]:
#else is accounting for every other case that isn't true for any of the ifs or elifs

### String Manipulation

#### .lstrip()

In [ ]:
# our_string.lstrip()

#### .rstrip()

In [ ]:
# our_string.rstrip()

#### .strip()

In [ ]:
# our.string.strip()

In [ ]:
#.replace()

#### .title()

In [ ]:
#our_string.title()

#### .upper()

In [ ]:
# our_string.upper()

#### .lower()

In [ ]:
# our_string.lower()

### String Exercise

Have a user input a sentence. Return the name with all white space removed and each first letter capitalized.

### Built-In Functions

##### len()

In [ ]:
#works for strings and lists
# return the length of a given variable as an integer

##### help()

In [ ]:
# gives a tooltip on a python built-in function

##### isinstance()

In [ ]:
#check a variable/value to find out what Object Family (data type) it belongs to
# isinstance(var, type)

##### abs()

In [ ]:
# | 5 |
# give us the distance to zero

### Try and Except

In [ ]:
# use this whenever you expect encounter a bug so that the error doesn't cause the program to stop
# logging graceful error messages to gently nudge the user in the right direction

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

## Exercise #4
<p>Take in a number from a user input, output the number squared.</p>

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [ ]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"